mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 95vh;
}

mat-sidenav-container {
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 9) 0%,
      rgba(255, 255, 255, 9) 40%,
      transparent 40%
    ),
    linear-gradient(to left, rgba(66, 93, 212, 0.521), rgba(27, 192, 204, 0.377)),
    url(src\assets\about.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 95vh;
}

mat-sidenav {
  width: 25rem;
}

.mat-raised-button{
  padding:0;
}

.nav {
  width: 98%;
  margin: 2rem;
}

.cards {
  height: 80vh;
  width: 98%;
}

.card {
  transform: translateY(10%);
  margin-left: 8rem;
  width: 40rem;
  height: 52rem;
  background-color: rgba(62, 182, 98, 0.644);
}

.card1 {
  transform: translateY(30%);
  width: 79rem;
 min-height: 20rem;

 
}

.aboutme-btn {
  background-color:white;
  width: 77rem;
  height: 6rem;
  

}

.aboutme-btn:hover{
  background-color: rgb(72, 72, 235);
}

.message {
  color: white;
  font-size: 1.6rem;
}

.animation {
  animation-name: moveOnTop;
  animation-duration: 2s;
  backface-visibility: hidden;
  //margin-bottom: 4rem;
}

@keyframes moveOnTop {
  0% {
    opacity: 0.5;
    transform: translateY(-100px);
  }
  60% {
    opacity: 0.8;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.image{
  background-image: url(src\assets\operation.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40rem;
  width:35rem;
}