<mat-sidenav-container class="container">
  <mat-sidenav #sidenav>
    <mat-nav-list class="margintop">
      <a mat-list-item routerLink="/home" (click)="sidenav.close()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
      </a>
      <a mat-list-item routerLink="/aboutme" (click)="sidenav.close()">
        <mat-icon>people</mat-icon>
        <span class="nav-caption">About Me</span>
      </a>
      <!-- <a mat-list-item routerLink="/contactus" (click)="sidenav.close()">
          <mat-icon>email</mat-icon>
          <span class="nav-caption">Contact Me</span>
        </a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="fullpage">
    <div class="nav" fxLayout="row" fxLayoutAlign="space-between center">
      <button class="btn-position" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <button class="btn-position" mat-icon-button (click)="sidenav.toggle()">
        LOGO
      </button>
    </div>
    <div></div>

    <div
      class="cards, animation"
      fxLayoutAlign="center center"
      fxLayoutGap="4rem"
    >
      <mat-card class="card" fxLayoutAlign="start center" fxLayout="column">
        <mat-card-header>
          <!-- <mat-card-title>About me</mat-card-title> -->
        </mat-card-header>

        <mat-card-content
          fxLayoutAlign="center center"
          fxLayout="column"
          fxLayoutGap="2rem"
        >
          <div class="image"></div>
          <p class="name">
            Dr. Mozhgan Daneshvar
          </p>
          <p class="name">
            Gynecologist And Obstetrician
          </p>
        </mat-card-content>
      </mat-card>
      <!--   
        <mat-card class="card1" fxLayoutAlign="start start" fxLayout="column">
        
          <mat-card-content fxLayout="column" fxLayoutAlign="start start" >
            <mat-list role="list"  fxLayout="column" >
                <button mat-raised-button class="aboutme-btn" (click)="showEducation()" >
                    <mat-list-item role="listitem">
                        <mat-icon>add</mat-icon> Education
                    </mat-list-item>
                </button>

                <div *ngIf="showMessageEducation" class="message">Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. Magni officiis omnis, voluptatibus ipsum iusto
                     fuga soluta nihil ullam enim molesti
                     as nobis eveniet error porro consequuntur recusandae eum esse accusamus ad?</div>
                <button mat-raised-button class="aboutme-btn" (click)="showBiography()">
                    <mat-list-item role="listitem">
                        <mat-icon>add</mat-icon>Biography
                    </mat-list-item>
                </button>

                <div *ngIf="showMessageBiography" class="message">this is test</div>
                <button mat-raised-button class="aboutme-btn" (click)="showExperience()">
                    <mat-list-item role="listitem">
                        <mat-icon>add</mat-icon> Experience
                    </mat-list-item>
                </button>

                <div *ngIf="showMessageExperience"class="message">this is test</div>

                <button mat-raised-button class="aboutme-btn" (click)="showMedical()">
                    <mat-list-item role="listitem">
                        <mat-icon>add</mat-icon>  Medical Interests
                    </mat-list-item>
                </button>

                <div *ngIf="showMessageMedical" class="message">this is test</div>

            
              </mat-list>
          </mat-card-content>
          <mat-card-actions> </mat-card-actions>
        </mat-card> -->

      <div class="card1">
        <mat-list role="list" fxLayout="column">
          <button
            mat-raised-button
            class="aboutme-btn"
            (click)="showEducation()"
          >
            <mat-list-item role="listitem">
              <mat-icon>add</mat-icon>
              <p class="items">Education</p>
            </mat-list-item>
          </button>

          <mat-card *ngIf="showMessageEducation" class="message"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
            officiis omnis, voluptatibus ipsum iusto fuga soluta nihil ullam
            enim molesti as nobis eveniet error porro consequuntur recusandae
            eum esse accusamus ad?
          </mat-card>

          <button
            mat-raised-button
            class="aboutme-btn"
            (click)="showBiography()"
          >
            <mat-list-item role="listitem">
              <mat-icon>add</mat-icon>
              <p class="items">Biography</p>
            </mat-list-item>
          </button>

          <mat-card *ngIf="showMessageBiography" class="message"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
            officiis omnis, voluptatibus ipsum iusto fuga soluta nihil ullam
            enim molesti as nobis eveniet error porro consequuntur recusandae
            eum esse accusamus ad?
          </mat-card>

          <button
            mat-raised-button
            class="aboutme-btn"
            (click)="showExperience()"
          >
            <mat-list-item role="listitem">
              <mat-icon>add</mat-icon>
              <p class="items">Experience</p>
            </mat-list-item>
          </button>

          <mat-card *ngIf="showMessageExperience" class="message"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
            officiis omnis, voluptatibus ipsum iusto fuga soluta nihil ullam
            enim molesti as nobis eveniet error porro consequuntur recusandae
            eum esse accusamus ad?
          </mat-card>

          <button mat-raised-button class="aboutme-btn" (click)="showMedical()">
            <mat-list-item role="listitem">
              <mat-icon>add</mat-icon>
              <p class="items">Medical Interests</p>
            </mat-list-item>
          </button>

          <mat-card *ngIf="showMessageMedical" class="message">
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
            officiis omnis, voluptatibus ipsum iusto fuga soluta nihil ullam
            enim molesti as nobis eveniet error porro consequuntur recusandae
            eum esse accusamus ad?
          </mat-card>
        </mat-list>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
